.navPrimaryList {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.npItem {
  position: relative;
  margin-left: 5px;

  &:first-of-type {
    margin-left: 0;
  }
}

.npItemButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  cursor: pointer;
  padding: 10px;
  border: 0;
  background-color: rgba(0,0,0,.3);
  transition: background-color, 200ms ease-in-out;

  .expanded & {
    background-color: $black;
  }
}

.npItemButtonIcon {
  @include navItemTriggerSymbol;
  margin-left: 10px;

  &::before {
    @include plusMinusVerticalLine;
    width: 14px; // width shows line
  }

  &::after {
    @include plusMinusHorizontalLine;
  }

  .expanded & {
    // vertical line animated
    transform: rotate(-180deg); // rotate circle

    &::before {
      width: 0; // zero width hides vertical line
      transition: width 0.3s; // animate width shows vertical line
    }
  }
}
