.navPrimaryList {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.npItem {
  position: relative;
  margin-left: 5px;

  &:first-of-type {
    margin-left: 0;
  }
}

.npItemButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  cursor: pointer;
  padding: 10px;
  border: 0;
  background-color: rgba(0,0,0,.3);
  transition: background-color, 200ms ease-in-out;

  .expanded & {
    background-color: $black;
  }
}

.npItemButtonIcon {
  pointer-events: none;
  width: #{$navTriggerIconSize}px;
  height: #{$navTriggerIconSize}px;
  position: relative;
  transform: rotate(0deg);
  background-color: rgba(0,0,0,.3);
  border-radius: #{$navTriggerIconRadius}px;
  margin-left: 10px;
  transition: transform 0.3s;

  &::before {
    // vertical line
    content: '';
    position: absolute;
    width: 14px; // width shows line
    height: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-bottom: solid 2px $white; // width of line
    transform: rotate(90deg); // rotated = vertical line
  }

  &::after {
    // horizontal line
    content: '';
    position: absolute;
    width: 14px;
    height: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: solid 2px $white; // width of horizontal line
    margin: auto;
  }

  .expanded & {
    // vertical line animated
    transform: rotate(-180deg); // rotate circle

    &::before {
      width: 0; // zero width hides vertical line
      transition: width 0.3s; // animate width shows verticl line
    }
  }
}
