.ntTrigger {
  font-size: 13px;
  text-decoration: none;
  color: $white;
  padding: 10px;
  background-color: $black;
  transition: background-color 150ms ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ntTriggerIcon {
  @include navItemTriggerSymbol;
  display: inline-block;

  &::before {
    @include plusMinusVerticalLine;
    width: 0; // zero width hides vertical line
  }

  &::after {
    @include plusMinusHorizontalLine;
  }

  .collapsed & {
    // vertical line animated
    transform: rotate(180deg); // rotate circle

    &::before {
      width: 14px; // width shows line
      transition: width 0.3s; // animate width shows verticl line
    }
  }
}

.ntLink {
  font-size: 13px;
  text-decoration: none;
  color: $white;
  display: block;
  padding: 10px;
  background-color: $black80;
  transition: background-color 150ms ease-in-out;

  &:hover {
    background-color: $black75;
  }
}