$brandLineWeight: 2;
$brandLogoSizeValue: 50;
$brandLogoRadius: $brandLogoSizeValue / 2;
$brandLogoLeftValue: 40;
$brandLineGap: 10;
$containerMaxWidthValue: 1200;
$brandLogoRightValue: $containerMaxWidthValue - $brandLogoLeftValue - $brandLogoSizeValue - ($brandLineGap * 2);
$navTriggerIconSize: 22;
$navTriggerIconRadius: $navTriggerIconSize / 2;

$black3: #f7f7f7;
$black4: #f5f5f5;
$black5: #f2f2f2;
$black7: #ededed;
$black8: #ebebec;
$black10: #e6cccc;
$black14: #dbdbdb;
$black15: #dcddde;
$black16: #d9d9d9;
$black17: #d4d4d4;
$black20: #cccccc;
$black25: #c1c1c1;
$black27: #bababa;
$black30: #b2b2b2;
$black35: #a6a6a6;
$black40: #a7a9ac;
$black42: #959595;
$black43: #929292;
$black50: #808080;
$black55: #737373;
$black60: #666666;
$black65: #595959;
$black70: #4d4d4d;
$black71: #4c4c4c;
$black75: #404040;
$black80: #333333;
$black85: #262626;
$black87: #212121;
$black89: #1c1c1c;
$black90: #191919;
$black92: #141414;
$black93: #121212;
$black94: #0f0f0f;
$black95: #0d0d0d;
$black97: #2d2a2b;
$black100: #000;
$black: #000;
$white: #fff;